In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Morro Bay,US,2021-10-20 21:29:29,35.3658,-120.8499,77.74,53,93,4.00
1,1,Mahibadhoo,MV,2021-10-20 21:29:30,3.7833,72.9667,81.88,70,69,12.75
2,2,Whitehorse,CA,2021-10-20 21:29:30,60.7161,-135.0538,41.02,48,75,11.01
3,3,Sungaipenuh,ID,2021-10-20 21:29:30,-2.0833,101.3833,64.92,98,100,0.60
4,4,Busselton,AU,2021-10-20 21:29:31,-33.6500,115.3333,53.10,76,99,16.13

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent Wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Morro Bay,US,2021-10-20 21:29:29,35.3658,-120.8499,77.74,53,93,4.00
1,1,Mahibadhoo,MV,2021-10-20 21:29:30,3.7833,72.9667,81.88,70,69,12.75
6,6,Vaini,TO,2021-10-20 21:29:32,-21.2000,-175.2000,77.16,88,75,10.36
14,14,Porto Novo,BJ,2021-10-20 21:29:35,6.4965,2.6036,82.22,81,100,5.93
18,18,Georgetown,MY,2021-10-20 21:28:50,5.4112,100.3354,76.95,95,40,1.14
25,25,Port Moresby,PG,2021-10-20 21:29:39,-9.4431,147.1797,78.22,89,1,3.44
28,28,Gao,ML,2021-10-20 21:29:40,16.6362,1.6370,88.05,12,34,10.87
31,31,Alofi,NU,2021-10-20 21:29:41,-19.0595,-169.9187,78.69,65,75,20.71
32,32,Takoradi,GH,2021-10-20 21:29:42,4.8845,-1.7554,77.68,88,79,8.01
40,40,Pochutla,MX,2021-10-20 21:29:45,15.7432,-96.4661,85.05,78,87,2.93

In [10]:
preferred_cities_df.count()

City_ID       170
City          170
Country       170
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0      Morro Bay      US     77.74  35.3658 -120.8499
1     Mahibadhoo      MV     81.88   3.7833   72.9667
6          Vaini      TO     77.16 -21.2000 -175.2000
14    Porto Novo      BJ     82.22   6.4965    2.6036
18    Georgetown      MY     76.95   5.4112  100.3354
25  Port Moresby      PG     78.22  -9.4431  147.1797
28           Gao      ML     88.05  16.6362    1.6370
31         Alofi      NU     78.69 -19.0595 -169.9187
32      Takoradi      GH     77.68   4.8845   -1.7554
40      Pochutla      MX     85.05  15.7432  -96.4661

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Morro Bay,US,77.74,35.3658,-120.8499,Inn at Morro Bay
1,Mahibadhoo,MV,81.88,3.7833,72.9667,Omadhoo Inn
6,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
14,Porto Novo,BJ,82.22,6.4965,2.6036,Tour Eiffel Hotel Benin
18,Georgetown,MY,76.95,5.4112,100.3354,Cititel Penang
25,Port Moresby,PG,78.22,-9.4431,147.1797,Lamana Hotel (Port Moresby)
28,Gao,ML,88.05,16.6362,1.6370,
31,Alofi,NU,78.69,-19.0595,-169.9187,Taloa Heights
32,Takoradi,GH,77.68,4.8845,-1.7554,Raybow International Hotel
40,Pochutla,MX,85.05,15.7432,-96.4661,Hotel Posada San Jose

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))